.home {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.home .div {
  background-color: #f4f4f4;
  width: 412px;
  height: 917px;
  position: relative;
}
.home .status-bar {
  position: absolute;
  width: 412px;
  height: 44px;
  top: 0;
  left: 0;
  overflow: hidden;
}
.home .BG {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1016px;
  left: -1435px;
}
.home .right-side {
  position: absolute;
  width: 67px;
  height: 11px;
  top: 17px;
  left: 331px;
}
.home .battery {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 0;
  left: 42px;
}
.home .wifi {
  position: absolute;
  width: 15px;
  height: 11px;
  top: 0;
  left: 22px;
}
.home .mobile-signal {
  position: absolute;
  width: 17px;
  height: 11px;
  top: 0;
  left: 0;
}
.home .left-side {
  position: absolute;
  width: 28px;
  height: 11px;
  top: 17px;
  left: 33px;
}
.home .frame {
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 74px;
  left: 26px;
}
.home .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}
.home .text-wrapper {
  position: relative;
  width: 177px;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #424b5a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}
.home .text-wrapper-2 {
  position: relative;
  width: 177px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}
.home .react-icons-bi {
  position: relative;
  width: 36px;
  height: 36px;
}
.home .ellipse {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 10px;
  left: 346px;
  background-color: #e02323;
  border-radius: 5px;
}
.home .bottom-nav {
  display: flex;
  flex-direction: column;
  width: 408px;
  height: 84px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 12px 24px 16px;
  position: absolute;
  top: 775px;
  left: 0;
  background-color: #ffffff;
  border-radius: 32px 32px 0px 0px;
}
.home .frame-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.home .frame-4 {
  display: flex;
  flex-direction: column;
  width: 68px;
  align-items: center;
  gap: 3px;
  padding: 0px 4px;
  position: relative;
}
.home .img {
  position: relative;
  width: 22px;
  height: 22px;
}
.home .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #e02323;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}
.home .icon-alert-error {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
}
.home .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #a4a4a4;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}
.home .image-person-outline {
  position: relative;
  width: 24px;
  height: 24px;
}
.home .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #a4a4a4;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}
.home .bars-home-indicator {
  position: absolute;
  width: 408px;
  height: 24px;
  top: 859px;
  left: 0;
  background-color: #ffffff;
}
.home .rectangle {
  position: relative;
  width: 136px;
  height: 7px;
  top: 9px;
  left: 136px;
  background-color: #a4a4a4;
  border-radius: 100px;
}
.home .group {
  position: absolute;
  width: 182px;
  height: 180px;
  top: 565px;
  left: 119px;
}
.home .overlap-group {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: #fae8e9;
  border-radius: 90px;
}
.home .ellipse-2 {
  position: absolute;
  width: 166px;
  height: 166px;
  top: 7px;
  left: 7px;
  background-color: #f9d2d2;
  border-radius: 83.19px;
}
.home .ellipse-3 {
  position: absolute;
  width: 152px;
  height: 152px;
  top: 14px;
  left: 14px;
  background-color: #f2a6a6;
  border-radius: 75.8px;
}
.home .ellipse-4 {
  position: absolute;
  width: 137px;
  height: 137px;
  top: 22px;
  left: 22px;
  background-color: #e02323;
  border-radius: 68.42px;
}
.home .title {
  position: absolute;
  width: 125px;
  top: 70px;
  left: 27px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.9px;
  line-height: normal;
  white-space: nowrap;
}
.home .help-is-just-a-click {
  position: absolute;
  width: 304px;
  top: 504px;
  left: 58px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}
.home .span {
  color: #424b5a;
}
.home .text-wrapper-6 {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #e02323;
}
.home .overlap {
  position: absolute;
  width: 384px;
  height: 240px;
  top: 163px;
  left: 14px;
  background-image: url(./img/screenshot-2025-04-23-211446-1.png);
  background-size: cover;
  background-position: 50% 50%;
}
.home .download-removebg {
  position: absolute;
  width: 384px;
  height: 240px;
  object-fit: cover;
}
