.report-emergency {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.report-emergency .report-emergency-wrapper {
  width: 412px;
  height: 917px;
  position: relative;
}
.report-emergency .div {
  position: relative;
  height: 917px;
  background-color: #f4f4f4;
  overflow: hidden;
  overflow-y: scroll;
}
.report-emergency .div::-webkit-scrollbar {
  width: 0;
  display: none;
}
.report-emergency .overlap {
  position: absolute;
  width: 408px;
  height: 840px;
  top: 126px;
  left: 0;
}
.report-emergency .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  position: absolute;
  top: 0;
  left: 24px;
}
.report-emergency .frame-2 {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}
.report-emergency .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.report-emergency .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #212121;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}
.report-emergency .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  margin-bottom: -1px;
  object-fit: cover;
}
.report-emergency .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.report-emergency .frame-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.report-emergency .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}
.report-emergency .overlap-group-wrapper {
  position: relative;
  width: 52px;
  height: 52px;
  background-color: #e02323;
  border-radius: 30px;
  box-shadow: 3px 4px 11px #1505020a, 10px 17px 20px #15050208,
    23px 38px 26px #15050205, 40px 67px 31px #15050203,
    63px 105px 34px transparent;
}
.report-emergency .overlap-group {
  position: relative;
  width: 46px;
  height: 46px;
  left: 6px;
}
.report-emergency .done {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 32px;
}
.report-emergency .tabler-sos {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 6px;
  left: 0;
}
.report-emergency .text-wrapper-2 {
  position: relative;
  width: 74px;
  font-family: var(--typography-text-xs-font-normal-font-family);
  font-weight: var(--typography-text-xs-font-normal-font-weight);
  color: #212121;
  font-size: var(--typography-text-xs-font-normal-font-size);
  text-align: center;
  letter-spacing: var(--typography-text-xs-font-normal-letter-spacing);
  line-height: var(--typography-text-xs-font-normal-line-height);
  font-style: var(--typography-text-xs-font-normal-font-style);
}
.report-emergency .frame-7 {
  display: inline-flex;
  align-items: flex-start;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}
.report-emergency .img {
  position: relative;
  width: 35px;
  height: 35px;
}
.report-emergency .text-wrapper-3 {
  position: relative;
  width: 56px;
  font-family: var(--typography-text-xs-font-normal-font-family);
  font-weight: var(--typography-text-xs-font-normal-font-weight);
  color: #212121;
  font-size: var(--typography-text-xs-font-normal-font-size);
  text-align: center;
  letter-spacing: var(--typography-text-xs-font-normal-letter-spacing);
  line-height: var(--typography-text-xs-font-normal-line-height);
  font-style: var(--typography-text-xs-font-normal-font-style);
}
.report-emergency .img-2 {
  position: relative;
  width: 36px;
  height: 36px;
}
.report-emergency .text-wrapper-4 {
  position: relative;
  width: 84px;
  font-family: var(--typography-text-xs-font-normal-font-family);
  font-weight: var(--typography-text-xs-font-normal-font-weight);
  color: #212121;
  font-size: var(--typography-text-xs-font-normal-font-size);
  text-align: center;
  letter-spacing: var(--typography-text-xs-font-normal-letter-spacing);
  line-height: var(--typography-text-xs-font-normal-line-height);
  font-style: var(--typography-text-xs-font-normal-font-style);
}
.report-emergency .frame-8 {
  display: flex;
  flex-direction: column;
  width: 82px;
  align-items: center;
  gap: 2px;
  position: relative;
}
.report-emergency .text-wrapper-5 {
  position: relative;
  width: 88px;
  margin-left: -3px;
  margin-right: -3px;
  font-family: var(--typography-text-xs-font-normal-font-family);
  font-weight: var(--typography-text-xs-font-normal-font-weight);
  color: #212121;
  font-size: var(--typography-text-xs-font-normal-font-size);
  text-align: center;
  letter-spacing: var(--typography-text-xs-font-normal-letter-spacing);
  line-height: var(--typography-text-xs-font-normal-line-height);
  font-style: var(--typography-text-xs-font-normal-font-style);
}
.report-emergency .frame-9 {
  display: flex;
  flex-direction: column;
  width: 83px;
  align-items: center;
  gap: 2px;
  position: relative;
}
.report-emergency .solid-people-wrapper {
  display: inline-flex;
  height: 52px;
  align-items: flex-start;
  padding: 8px;
  position: relative;
}
.report-emergency .solid-people {
  position: relative;
  width: 36px;
  height: 32px;
}
.report-emergency .frame-10 {
  display: flex;
  flex-direction: column;
  width: 104px;
  align-items: center;
  gap: 2px;
  position: relative;
}
.report-emergency .frame-11 {
  display: flex;
  flex-direction: column;
  width: 77px;
  align-items: center;
  gap: 2px;
  position: relative;
}
.report-emergency .icon-navigation-more {
  position: absolute;
  width: 24px;
  height: 6px;
  top: 15px;
  left: 6px;
}
.report-emergency .frame-12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  right: 15px;
}
.report-emergency .frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}
.report-emergency .image-location {
  position: relative;
  width: 20px;
  height: 20px;
}
.report-emergency .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}
.report-emergency .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #e02323;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}
.report-emergency .frame-14 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.report-emergency .frame-15 {
  display: flex;
  flex-direction: column;
  width: 110px;
  height: 110px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 16px;
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
}
.report-emergency .img-3 {
  position: relative;
  width: 24px;
  height: 24px;
}
.report-emergency .text-wrapper-8 {
  position: relative;
  width: 62px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #e02323;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}
.report-emergency .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #e02323;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}
.report-emergency .input-field-no-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.report-emergency .div-wrapper {
  display: flex;
  height: 125px;
  align-items: flex-start;
  gap: 10px;
  padding: 14px 16px;
  position: relative;
  align-self: stretch;
  width: 90%;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  border: 0.5px solid;
  border-color: #e9e9e9;
}
.report-emergency .p {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #150502;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}
.report-emergency .frame-16 {
  display: flex;
  flex-direction: column;
  width: 408px;
  align-items: flex-start;
  position: absolute;
  top: 695px;
  left: 0;
}
.report-emergency .button-reg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  margin-top: 150px;
}
.report-emergency .button-reg {
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #e02323;
  border-radius: 16px;
  overflow: hidden;
}
.report-emergency .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}
.report-emergency .bars-home-indicator {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
  background-color: #ffffff;
}
.report-emergency .rectangle {
  position: relative;
  width: 136px;
  height: 7px;
  top: 9px;
  left: 136px;
  background-color: #a4a4a4;
  border-radius: 100px;
}
.report-emergency .frame-17 {
  display: flex;
  flex-direction: column;
  width: 408px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}
.report-emergency .status-bar {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 44px;
  background-color: #ffffff;
}
.report-emergency .BG {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -2px;
  left: 78px;
}
.report-emergency .right-side {
  position: absolute;
  width: 67px;
  height: 11px;
  top: 17px;
  left: 327px;
}
.report-emergency .battery {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 0;
  left: 42px;
}
.report-emergency .wifi {
  position: absolute;
  width: 15px;
  height: 11px;
  top: 0;
  left: 22px;
}
.report-emergency .mobile-signal {
  position: absolute;
  width: 17px;
  height: 11px;
  top: 0;
  left: 0;
}
.report-emergency .left-side {
  position: absolute;
  width: 28px;
  height: 11px;
  top: 17px;
  left: 33px;
}
.report-emergency .frame-18 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}
.report-emergency .text-wrapper-10 {
  position: relative;
  width: 200px;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}
