.community {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.community .div {
  background-color: #f4f4f4;
  overflow: hidden;
  width: 412px;
  height: 917px;
  position: relative;
}
.community .overlap-group {
  position: absolute;
  width: 408px;
  height: 802px;
  top: 116px;
  left: 0;
}
.community .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 14px;
}
.community .frame-2 {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}
.community .frame-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.community .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}
.community .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;

}
.community .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #212121;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}
.community .img {
  position: relative;
  height: 24px;
}
.community .image {
  height: 123px;
  position: relative;
  align-self: stretch;
  width: 100%;
  object-fit: cover;
}
.community .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 4px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.community .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--typography-text-xs-font-normal-font-family);
  font-weight: var(--typography-text-xs-font-normal-font-weight);
  color: #212121;
  font-size: var(--typography-text-xs-font-normal-font-size);
  text-align: center;
  letter-spacing: var(--typography-text-xs-font-normal-letter-spacing);
  line-height: var(--typography-text-xs-font-normal-line-height);
  white-space: nowrap;
  font-style: var(--typography-text-xs-font-normal-font-style);
}
.community .flexcontainer {
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.community .text {
  position: relative;
  align-self: stretch;
  font-family: var(--typography-text-xs-font-normal-font-family);
  font-weight: var(--typography-text-xs-font-normal-font-weight);
  color: #212121;
  font-size: var(--typography-text-xs-font-normal-font-size);
  letter-spacing: var(--typography-text-xs-font-normal-letter-spacing);
  line-height: var(--typography-text-xs-font-normal-line-height);
  font-style: var(--typography-text-xs-font-normal-font-style);
}
.community .span {
  font-family: var(--typography-text-xs-font-normal-font-family);
  font-weight: var(--typography-text-xs-font-normal-font-weight);
  color: #212121;
  font-size: var(--typography-text-xs-font-normal-font-size);
  letter-spacing: var(--typography-text-xs-font-normal-letter-spacing);
  line-height: var(--typography-text-xs-font-normal-line-height);
  font-style: var(--typography-text-xs-font-normal-font-style);
}
.community .image-2 {
  height: 158px;
  position: relative;
  align-self: stretch;
  width: 100%;
  object-fit: cover;
}
.community .flexcontainer-2 {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.community .frame-6 {
  display: flex;
  flex-direction: column;
  width: 408px;
  align-items: flex-start;
  position: absolute;
  top: 694px;
  left: 0;
}
.community .bottom-nav {
  display: flex;
  flex-direction: column;
  height: 84px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 12px 24px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 32px 32px 0px 0px;
}
.community .frame-7 {
  display: flex;
  flex-direction: column;
  width: 68px;
  align-items: center;
  gap: 3px;
  padding: 0px 4px;
  position: relative;
}
.community .img-2 {
  position: relative;
  width: 22px;
  height: 22px;
}
.community .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #a4a4a4;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}
.community .icon-alert-error {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
}
.community .text-wrapper-4 {
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #e02323;
  font-size: 10px;
  line-height: normal;
  position: relative;
  width: fit-content;
  letter-spacing: 0;
}
.community .home {
  position: relative;
  width: fit-content;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #a4a4a4;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}
.community .bars-home-indicator {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
  background-color: #ffffff;
}
.community .rectangle {
  position: relative;
  width: 136px;
  height: 7px;
  top: 9px;
  left: 136px;
  background-color: #a4a4a4;
  border-radius: 100px;
}
.community .react-icons-bs-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 12px;
  position: absolute;
  top: 651px;
  left: 342px;
  background-color: #e02323;
  border-radius: 100px;
}
.community .react-icons-bs {
  position: relative;
  width: 30px;
  height: 30px;
}
.community .status-bar {
  position: absolute;
  width: 412px;
  height: 44px;
  top: 0;
  left: 0;
  overflow: hidden;
}
.community .BG {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -3092px;
  left: -1435px;
}
.community .right-side {
  position: absolute;
  width: 67px;
  height: 11px;
  top: 17px;
  left: 331px;
}
.community .battery {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 0;
  left: 42px;
}
.community .wifi {
  position: absolute;
  width: 15px;
  height: 11px;
  top: 0;
  left: 22px;
}
.community .mobile-signal {
  position: absolute;
  width: 17px;
  height: 11px;
  top: 0;
  left: 0;
}
.community .left-side {
  position: absolute;
  width: 28px;
  height: 11px;
  top: 17px;
  left: 33px;
}
.community .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: absolute;
  top: 74px;
  left: 24px;
}
.community .text-wrapper-5 {
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 24px;
  line-height: 28px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  letter-spacing: 0;
}
